body {
	background: rgb(250, 245, 235);
}

.fp-travels-head {
	width: 100%;
	background: rgb(250, 245, 235);
}

.fp-travels-head-track {
	width: 100%;
	height: 190px;
	position: relative;
	background: url(../img/muwu.jpg) no-repeat center center;
	background-size: cover;
}

.fp-travels-head-track-top {
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(../img/play.png) no-repeat center center;
	background-size: 45px 45px;
}

.fp-travels-head-track-userpic {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	position: absolute;
	bottom: -35px;
	left: 50%;
	margin-left: -35px;
	border: 2px solid rgba(240, 240, 240, 0.8);
}

.fp-travels-head-maininfo {
	text-align: center;
	padding: 50px 30px 0;
}

.fp-travels-head-maininfo h2 {
	font-size: 22px;
	text-shadow: 2px 2px 2px #999;
	color: #666;
	padding-bottom: 10px;
	border-bottom: 1px solid #e3e6eb;
}

.fp-travels-head-maininfo ul {
	list-style: none;
	width: 80%;
	margin: 10px auto;
	display: flex;
}

.fp-travels-head-maininfo ul li {
	display: inline-block;
	flex: 1;
	border-left: 1px solid #e3e6eb;
}
.fp-travels-head-maininfo ul li:first-child{
	border: none;
}
.fp-travels-head-maininfo ul li p {
	color: #000;
	font-size: 14px;
	margin: 0;
}

.fp-travels-head-maininfo ul li span {
	font-size: 12px;
	color: #999;
}